@import "common.css";

/* Backgrounds */
.button      { opacity:0.85; fill:#186ab0 }
.checkbox    { opacity:0.85; fill:url(common_f.gradients#checkbox) }
.inputbox    { opacity:0.85; fill:url(common_f.gradients#inputbox) }
.radiobutton { opacity:0.85; fill:url(common_f.gradients#radiobutton) }

/* Components */
.colormark { fill:#ffffff; opacity:0.4 }
.detail    { fill:#eaf6fc }
.frame     { fill:#c0d6e8 }
